#if __has_include(".extend.Xresources")
#include ".extend.Xresources"
#endif

! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use "!"

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

XTerm*background: #2b2b2b
XTerm*foreground: #e7e7e7
XTerm*pointerColor: #16A085
!XTerm*faceName: Fixed
!XTerm*faceSize: 9

! URxvt.font:                       6x13 

! alternative font settings with 'terminus':
! URxvt.font:      -xos4-terminus-medium-r-normal--12-120-72-72-c-60-iso10646-1
! URxvt.bold.font: -xos4-terminus-bold-r-normal--12-120-72-72-c-60-iso10646-1

! alternative font settings with 'terminus':
! URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
! URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1

! alternative font settings with 'terminus':
URxvt.font:      -xos4-terminus-medium-r-normal--14-140-72-72-c-80-iso10646-1
URxvt.bold.font: -xos4-terminus-bold-r-normal--14-140-72-72-c-80-iso10646-1

! alternative font settings with 'terminus':
! URxvt.font:      -xos4-terminus-medium-r-normal--0-0-72-72-c-0-iso10646-1 
! URxvt.bold.font: -xos4-terminus-bold-r-normal--0-0-72-72-c-0-iso10646-1

URxvt*transparent:  false
URxvt*background:   rgba:0000/0000/0000/FFFF

